<div class="m-4">
  <h1 class="text-center fw-bold">Edit Profile</h1><hr>
</div>
<section class="container-fluid d-flex align-items-center">
  <div class="card shadow rounded" style="width:100%;">
    <div class="card-body text-center border-0">
      <form (ngSubmit)="updated(updatedForm)" #updatedForm="ngForm">
        <div class="form-floating mb-3">
          <input id="firstName" name="firstName" ngModel="{{userDetails?.firstName}}" class="form-control border-0 border-bottom" type="text" placeholder="First name">
          <label for="firstName">First name</label>
        </div>
        <div class="form-floating mb-3">
          <input id="lastName" name="lastName" class="form-control border-0 border-bottom" type="text" placeholder="Last name" ngModel="{{userDetails?.lastName}}">
          <label for="lastName">Last name</label>
        </div>
        <div class="form-floating mb-3">
          <input id="newUserEmail" name="newUserEmail" class="form-control border-0 border-bottom" type="email" placeholder="Email" ngModel="{{userDetails?.email}}">
          <label for="newUserEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input id="newUserPass" name="newUserPass" class="form-control border-0 border-bottom" type="password" placeholder="Password"  ngModel="{{userDetails?.password}}">
          <label for="newUserPass">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input id="bio" name="bio" class="form-control border-0 border-bottom" type="text" placeholder="Bio" ngModel="{{userDetails?.bio}}">
          <label for="bio">Bio</label>
        </div>
        <button class="btn btn-primary btn-block mb-3 form-control" id="updateBtn" name="updateBtn" type="submit">Update</button>
      </form>
    </div>
  </div>
</section>
