<section class="container-fluid d-flex align-items-center vh-100" id="loginIn">
  <div class="card shadow rounded" style="width:100%;">
    <div class="card-body text-center border-0">
      <h1 class="mb-4">Log In VoyageVerse</h1>
        <form (submit)="login()">
          <div class="form-floating mb-3">
            <input id="userEmail" name="userEmail" class="form-control border-0 border-bottom" type="email" placeholder="Email" [(ngModel)]="userEmail">
            <label for="userEmail">Email Address</label>
          </div>
          <div class="form-floating mb-3">
            <input id="userPass" name="userPass" class="form-control border-0 border-bottom" type="password" placeholder="Password" [(ngModel)]="userPass">
            <label for="userPass">Password</label>
          </div>
          <button class="btn btn-primary btn-block mb-3 form-control" id="loginBtn" name="loginBtn" type="submit">Log In</button>
        </form>
        <p class="mb-0 text-muted">Don't have an account? <a routerLink="/signup">Sign up</a></p>
      <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
    </div>
  </div>
</section>
