<section class="container-fluid d-flex align-items-center vh-100" id="loginIn">

  <div class="card shadow rounded" style="width:100%;">
    <div class="card-body text-center border-0">
      <ng-container *ngIf="showLogin">
      <h1 class="mb-4">Log In VoyageVerse</h1>
        <form>
          <div class="mb-3">
            <input id="userName" name="userName" class="form-control border-0 border-bottom" type="email" placeholder="Username or email">
          </div>
          <div class="mb-3">
            <input id="userPass" name="userPass" class="form-control border-0 border-bottom" type="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block mb-3 form-control" id="loginBtn" name="loginBtn" type="submit">Log In</button>
        </form>
        <p class="mb-0 text-muted">Don't have an account? <a href="#" (click)="toggleSignup()">Sign up</a></p>
      </ng-container>

      <ng-container *ngIf="!showLogin">
        <h1 class="mb-4">Sign Up for VoyageVerse</h1>
        <form>
          <div class="mb-3">
            <input id="newUserName" name="newUserName" class="form-control border-0 border-bottom" type="email" placeholder="Username or email">
          </div>
          <div class="mb-3">
            <input id="newuserPass" name="newuserPass" class="form-control border-0 border-bottom" type="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block mb-3 form-control" id="signUpBtn" name="signUpBtn" type="submit">Sign Up</button>
        </form>
        <p class="mb-0 text-muted">Already have an account? <a href="#" (click)="toggleSignup()">Log in</a> </p>
      </ng-container>
    </div>
  </div>
</section>
