<nav class="fixed-bottom d-flex justify-content-around p-2 mt-10 bg-light shadow-sm">
    <a class="nav-link text-secondary icon-ig" routerLink="/home">
      <i class="bi bi-house-door-fill"></i>
    </a>
    <a class="nav-link text-secondary icon-ig" routerLink="/map">
      <i class="bi bi-geo-alt-fill"></i>
    </a>
    <a class="nav-link text-secondary icon-ig" routerLink="/add-post">
      <i class="bi bi-plus-square"></i>
    </a>
    <a class="nav-link text-secondary icon-ig" routerLink="/settings">
      <i class="bi bi-gear-fill"></i>
    </a>
    <a class="nav-link text-secondary icon-ig" (click)="goToProfile()">
      <i class="bi bi-person-fill"></i>
    </a>
</nav>
