<section class="container-lg">
  <div class="m-4">
    <h1 class="text-center fw-bold">VoyageVerse</h1><hr>
  </div>

  <div class="row">
    @for(post of posts; track $index){
      <div class="col-md-4" style="margin-bottom: 2.5rem" (click)="showPost(post.postId)">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <img class="user-image" [src]="post?.user?.image || 'assets/images/img.jpg'" alt="User Image">
            <span class="user-name">{{ post?.user?.firstName }} {{post?.user?.lastName}}</span>
          </div>
          <img class="card-img-top" [src]="post?.imageUrl || 'assets/images/img.jpg'" alt="Image">
          <div class="card-body">
            <h5 class="card-title">{{ post?.title }}</h5>
            <p class="card-text">{{ post?.description }}</p>
          </div>
        </div>

      </div>
    } @empty {
      <div class="container-fluid">
        <h1 class="text-center">No post yet</h1>
        <button class="btn btn-primary align-items-center" routerLink="/add-post">Add post</button>
      </div>
    }
  </div>
</section>
